{{- $domain := .Page.Scratch.Get "domain" -}}
{{- $plausible_domain := .Page.Scratch.Get "plausible_domain" -}}
{{- $script_name := .Page.Scratch.Get "script_name" -}}
{{- $proxy_netlify := site.Params.plausible.proxy_netlify | default false -}}

{{- $self_host_js := "" -}}
{{- if $proxy_netlify -}}
  {{- $self_host_js = printf "/js/%s" $script_name | absURL -}}
{{- else -}}
  {{- $self_host_js = printf "https://%s/js/%s" $plausible_domain $script_name -}}
{{- end -}}

<script defer data-domain="{{ $domain }}" src="{{ $self_host_js }}"></script>